/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 */

:root {
  --vp-c-brand-1: #00C58E;
  --vp-c-brand-2: #00DC82;
  --vp-c-brand-3: #00E88F;
  --vp-c-brand-soft: rgba(0, 197, 142, 0.14);
}

.dark {
  --vp-c-brand-1: #00DC82;
  --vp-c-brand-2: #00E88F;
  --vp-c-brand-3: #00C58E;
  --vp-c-brand-soft: rgba(0, 220, 130, 0.16);
}

/**
 * Component: Button
 */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    120deg,
    #00C58E 30%,
    #00DC82
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #00C58E 50%,
    #00DC82 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}
